.myProfile {
    margin-top: 10rem;
}

.myProfile img {
    margin: 0;
}

.myProfile .asterisk {
    margin: 0;
}

.profile-form {
    margin: 2rem 8rem;
}

.profile-desc {
    min-height: 14rem;
}

.interest-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0;
    margin-top: 2rem;
    margin-bottom: 0;
}

.update-btn {
    margin: auto;
    align-content: center;
}

/* USER PROFILE */
.userProfile {
    margin-top: 10rem;
    text-align: center;
}

    .userProfile .chosen-header {
        justify-content: center;
    }

        .userProfile .chosen-header img {
            padding: 0;
            margin-right: 5rem;
        }

    .userProfile .ca-btn {
        float: right;
    }

.user-info p {
    margin: 4rem;
}

.no-list-type {
    text-decoration: none;
    list-style-type: none;
}

@media screen and (max-width: 600px) {

    .profile-form {
        margin: 3rem;
    }

    .interest-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0;
        margin: 0 auto;
    }
}
