@model RegisterViewModel

@{
    ViewData["Title"] = "Home Page";

    var maxDate = DateTime.Now.AddYears(-18).Date.ToString("yyyy-MM-dd");
}

<!-- Header ends -->

<section class="hero" id="hero">
    <div class="container">
        <h2 class="sub-headline">
            <span class="first-letter">V</span>älkommen
        </h2>
        <h1 class="headline">Dateland</h1>
        <div class="headline-description">
            <div class="separator">
                <div class="line line-left"></div>
                <div class="asterisk"><i class="fas fa-heart"></i></div>
                <div class="line line-right"></div>
            </div>
            <div class="single-animation">
                <h5>Hitta kärleken idag</h5>
                <a href="#register" class="btn cta-btn">Dejta nu!</a>
            </div>
        </div>
    </div>
</section>
<!-- Hero ends -->

<section class="register" id="register">
    <div class="container">
        <div class="register-info">
            <div class="register-description padding-right">
                <div class="global-headline animate-top">
                    <h2 class="sub-headline">
                        <span class="first-letter">H</span>itta någon
                    </h2>
                    <h1 class="headline headline-dark">Att Dela Livet Med</h1>
                <div class="asterisk sub-asterisk"><i class="fas fa-heart"></i></div>
                <div class="register-description">
                <p>
                    Hitta din drömpartner redan idag genom att registrera dig i formuläret nedan. 
                    Registreringen är helt kostnadsfri och ger dig full tillgång till hundratals andra singlar
                    som väntar på att få interagera med dig!
                </p>
                    </div>
                </div>
            </div>
            <div class="restaurant-info-img animate-bottom">
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="form-group">
                        <input asp-for="FirstName" class="form-control" placeholder="Förnamn">
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <!-- Last Name -->
                    <div class="form-group">
                        <input asp-for="LastName" class="form-control" placeholder="Efternamn" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>

                    <!-- Email -->
                    <div class="form-group">
                        <input asp-for="Email" class="form-control" placeholder="Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <!-- Confirm email -->
                    <div class="form-group">
                        <input asp-for="Email" class="form-control" placeholder="Bekräfta Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <!-- Password -->
                    <div class="form-group">
                        <input asp-for="Password" class="form-control" type="password" placeholder="Lösenord" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <!-- Password again-->
                    <div class="form-group">
                        <input asp-for="ConfirmPassword" class="form-control" type="password" placeholder="Bekfäfta lösenord" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                    <!-- Date of birth -->
                    <div class="form-group">
                        <label asp-for="DateOfBirth" class="control-label"></label>
                        <input asp-for="DateOfBirth" class="form-control" type="date" max="@maxDate" />
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" asp-action="Register" class="btn cta-btn-dark" asp-controller="Home" value="Registrera" />
                    </div>
                </form>
            </div>
        </div>
        </div>
</section>
<!-- About ends -->


<!-- Our scripts -->
