@model UserViewModel

@{
    ViewData["Title"] = "Signed In";
}

<!-- Header ends -->

<section class="potential-partners">
    <div class="container">
        <div class="global-headline">
            <h1 class="headline headline-dark">Dina</h1>
            <h2 class="sub-headline">
                <span class="first-letter">M</span>atchningar
            </h2>
            <div class="asterisk"><i class="fas fa-heart"></i></div>
        </div>

        <div class="si-main-row">
            <div class="si-main-col">

                <div class="si-row-inner">
                    <div class="sub-col-3">
                        <a href="#"><img class="si-img" src="@Url.Content("https://cdn.pixabay.com/photo/2017/01/23/19/40/woman-2003647_1280.jpg")" /></a>
                        <a href="#"><img class="si-img" src="~/images/flower-girl.jpg" /></a>
                    </div>
                    <div class="sub-col-3">
                        <a href="#"><img class="si-img" src="~/images/flower-girl.jpg" /></a>
                        <a href="#"><img class="si-img" src="~/images/flower-girl.jpg" /></a>
                    </div>
                    <div class="sub-col-3">
                        <a href="#"><img class="si-img" src="~/images/flower-girl.jpg" /></a>
                        <a href="#"><img class="si-img" src="~/images/flower-girl.jpg" /></a>
                    </div>
                </div>

            </div>

            <div class="si-main-col">
                <div class="si-row-inner">
                    <div class="vertical-separator"></div>
                    
                    <div class="chosen-container">

                        <div class="chosen-header">
                            <img class="si-img-chosen" src="~/images/flower-girl.jpg" />

                            <h2>Lisa Svensson</h2>

                        </div>

                        <div class="chosen-body">
                            <p>
                                Some text about Lisa...
                            </p>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>
</section>