@{ ViewData["Title"] = "Email Confirmed"; }

<!-- Header ends -->

<section class="hero" id="hero">
    <div class="container">
        <h1 class="headline">Email bekräftad</h1>
        <div class="headline-description">
            <div class="separator">
                <div class="line line-left"></div>
                <div class="asterisk"><i class="fas fa-tint"></i></div>
                <div class="line line-right"></div>
            </div>
            <div class="single-animation">
                <h5>Du kan nu börja dejta!</h5>
                <a href="@Url.Action("Login", "Account")" class="btn cta-btn">Logga in</a>
            </div>
        </div>
    </div>
</section>
