@model UserProfileViewModel

<section class="userProfile">
    <div class="container">
        <div class="info">
            <div class="description padding-right animate-left">
                <div class="chosen-header">
                    <img class="si-img-chosen" src="@Model.SelectedUser.ProfilePictureUrl" />

                    <div class="name-and-btns">
                        <h2>
                            @Model.SelectedUser.FirstName @Model.SelectedUser.LastName
                            <br /><span class="chosen-subheader">29 år, Stockholm</span>
                            <br>
                            <span class="ca-btn plane"><i class="far fa-paper-plane"></i></span>
                            <span class="ca-btn plus"><i class="far fa-plus-square"></i></span>
                        </h2>
                    </div>

                </div>
                <div class="user-info">

                    <p>
                        @Model.SelectedUser.Description
                    </p>


                    <hr>

                    <h3>Intresserad av:</h3>
                    <ul class="no-list-type">
                        <li>Allt</li>
                        <li>Allt</li>
                    </ul>

                </div>
            </div>

            <!-- Höger sida -->
            <div class="animate-right">
                <div class="global-headline">
                    <h1 class="headline headline-dark">Favoriter</h1>
                </div>
                <ul class="no-list-type">
                    <li>Favorit</li>
                    <li>Favorit</li>
                    <li>Favorit</li>
                    <li>Favorit</li>
                    <li>Favorit</li>
                    <li>Favorit</li>
                    <li>Favorit</li>
                </ul>

                <div class="global-headline">
                    <h1 class="headline headline-dark">Matchningar</h1>
                </div>
                <ul class="no-list-type">
                    <li><span class="match"><i class="fas fa-check-square"></i></span>Matchande parameter</li>
                    <li><span class="match"><i class="fas fa-check-square"></i></span>Matchande parameter</li>
                    <li><span class="match"><i class="fas fa-check-square"></i></span>Matchande parameter</li>
                    <li><span class="match"><i class="fas fa-check-square"></i></span>Matchande parameter</li>
                    <li><span class="match"><i class="fas fa-check-square"></i></span>Matchande parameter</li>
                    <li><span class="match"><i class="fas fa-check-square"></i></span>Matchande parameter</li>
                    <li><span class="match"><i class="fas fa-check-square"></i></span>Matchande parameter</li>
                </ul>

            </div>
        </div>
</section>
